.card-list {
   display: flex;
   .card-holder {
      display: flex;
		flex-wrap: wrap;
		flex-direction: column;
   }
   .card {
      flex: 1 1 auto; // auto because of IE11!
		display: flex;
		flex-direction: column;
      .card-section-more {
         margin-top: auto;
      }
   }
}

// This bit is only for the "flood" link
.card {
   position: relative;
   .flood {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-indent: -100vw;
   }
}
