.ct-card-list {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .column {
        display: flex;
        .card {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: #{ map-get($grid-column-gutter, 'small') }; // Add rules for other breakpoints if necessary
        }
       .post-thumbnail-figure {
          flex: 0 0 auto;
       }
        .card-section-text {
            flex: 1 0 auto;
        }
        .card-section-more {
          margin-top: auto;
        }
    }
}
