.header {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 200;

	.admin-bar & {
		top: rem-calc(46px); // height of admin-bar

		@include breakpoint(adminbar) {
			top: rem-calc(32px); // height of admin-bar
		}
	}
}
